data/*
!data/.gitkeep
jobs/*
!jobs/.gitkeep
models/*
!models/.gitkeep
plots/*
!plots/.gitkeep
tmp/*
!tmp/.gitkeep
configs/architecture/*
!configs/architecture/.gitkeep
!configs/architecture/default.yaml
configs/run/*
!configs/run/.gitkeep
configs/snakemake/*
!configs/snakemake/.gitkeep
configs/submit/*
!configs/submit/.gitkeep
!configs/submit/condor.yaml
!configs/submit/condor_2_cpus.yaml
!configs/submit/condor_4_cpus.yaml
!configs/submit/condor_avx.yaml
!configs/submit/condor_gpu.yaml
miniconda/*
!miniconda/.gitkeep
python/*/__pycache__/*
python/*/*/__pycache__/*
python/worker/benchmarks/__pycache__/*
python/*/*.pyc
snakemake/*
wandb/*
.snakemake/*