type: "BayesFlow"
# coupling design
coupling_design: "interleaved"
permutation: "fixed"
num_coupling_layers: [5,15]
# training
epochs: 2
batch_size: [1024,3000]
early_stopping: True
learning_rate: [0.001,0.005]
optimizer_name: "AdamW"
lr_scheduler_name: "CosineDecay"
active_learning: True
resample: False
gradient_clipping_norm: null
# affine or interleaved only
affine_units_per_dense_layer: [300,500]
affine_num_dense_layers: [1,3]
affine_activation: "relu"
affine_dropout: True
affine_mc_dropout: False
affine_dropout_prob: [0.05, 0.5]
# spline or interleaved only
spline_units_per_dense_layer: [200,400]
spline_num_dense_layers: [2,5]
spline_activation: "relu"
spline_dropout: True
spline_dropout_prob: [0.1,0.4]
spline_bins: [16,32]
